<!--<div class="song_page">-->
<div class="song-container debug">
  <div class="song-left_column debug">
    <p class="small_title"> Username: </p>
    <p class="large_field"> <%= @user.username %> </p>

        <p class="small_title"> Email: </p>
        <p class="large_field"> <%= @user.email %> </p>

        <p class="small_title"> Phone Number: </p>
        <p class="large_field"> <%= @user.phone_number%> </p>

    <%= link_to 'Back', users_path,  class: "abut abut2 abut3" %>
  </div>
</div>



