/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.italic {
    font-style: italic;
}

html, body {
    height: 100%;
    width: 100%;
    background: url(bg_dark_watermark.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.debug {
    border: 1px dotted red;
}

.center {
    width: 1100px;
    margin: auto;
}

.the_container {
    background-color: #bbbbbb;
    width: 1100px;
    margin: auto;

}

.the_search_container {
    background-color: #bbbbbb;
    width: 1100px;
    margin: auto;
    margin-top: -1em;
}

.search-title {
    color: #5f6975;
    padding-top: 1em;
    padding-left: 4em;
    width: 50em;
}

.search-instructions {
    color: #5f6975;
    padding-top: 1em;
    padding-left: 4em;
    width: 50em;
    margin-bottom: 1.5em;
}

#menu_spacer {
    padding-left: 200px;
    /*width: 10em;*/
    height: 40px;
    display: inline;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

#foo {
    padding: 200px;
    height: 50px;
}

nav {
    /*display: inline-table;*/
    margin: auto;

    width: 1100px;
    height: 40px;
    margin-right: auto;
    background: #efefef;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
}

nav ul {

    /*background: #efefef;*/
    /*background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);*/
    /*background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);*/
    /*background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);*/
    /*box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);*/
    padding: 0 20px;
    /*border-radius: 10px;*/
    list-style: none;
    position: relative;
    top: -15px;
    z-index: 2;
    display: inline-table;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 10px 40px;
    color: #757575;
    text-decoration: none;
}

nav ul ul {
    background: #5f6975;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}

nav ul ul li a:hover {
    background: #4b545f;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

/*CSS for the song search page?*/

.search-row-height {
    height: 20px;
}

.title2 {
    width: 250px;
}

.title {
    width: 250px;

}

.composer {
    width: 160px;
}

.voicing {
    width: 50px;

}

.description {
    width: 150px;
}

.larger_work {
    width: 100px;
}

#larger_work2 {
    width: 100px;
}

.arranger_one {
    width: 110px;
}

.arranger_two {
    width: 110px;
}

.PDF {
    width: 120px;
}

.song-heading {
    background: #efefef;
    /*background: linear-gradient(top, #efefef 0%, #919191 100%);*/
    /*background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);*/
    /*background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);*/
    /*box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);*/
    /*border-radius: 10px;*/
    text-align: left;
    list-style: none;
    /*position: relative;*/
    /*display: inline-table;*/
}

.song-row {
    background-color: #f4f4f4;
    /*border: 1px solid #AAAAAA;*/
    border-bottom: 1px solid #bbbbbb;
    /*border-top: 1px solid #bbbbbb;*/
    /*padding: -1px;*/
    color: #3c4362;
    height: 25px;
    font: bold 12px Arial, Helvetica, sans-serif;
}

.tablediv {
    background-color: #EEEEEE;
    padding-top: 1em;
    padding-left: 1.5em;
    width: 1074px;
    border: 1px solid #aaaaaa;

}

.song_table {
    width: 1000px;
    padding: 1em;
    border: 1px solid #aaaaaa;
    /*background-color: #FFFFFF;*/
    background: #f4f4f4;
    /*background: linear-gradient(top, #efefef 0%, #919191 100%);*/
    /*background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);*/
    /*background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);*/
    /*box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);*/
    margin-left: 1.5em;
}

.song_search {
    padding-left: 2.5em;
    margin-top: 0px;
    margin-bottom: 1em;
    margin-left: 1em;
    padding-top: 2em;
    width: 1045px;
    height: 90px;
    background-color: #EEEEEE;
    color: #15355a;
    font: bold 12px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding-bottom: 0px;
    /*border-bottom: 5px solid #bbbbbb;*/
}

/*CSS for login page*/

.login-box {
    width: 200px;
    background-color: #555555;
}

.login_field {
    width: 218px;
    height: 28px;
    background-color: #FFFFFF;
    border: #cdcdcd 1px solid;
    margin-bottom: 4px;
    text-transform: none;
    /*padding-left: 1em;*/
    font: 14px HelveticaNeue, Helvetica, sans-serif;
}

.search_field {
    padding-top: 3em;
}

.red-button {
    background: url("red_button.jpg") top left repeat-x;
}

.green-button {
    background: url("green_button.jpg") top left repeat-x;
}

.blue-button {
    background: url("blue_button.jpg") top left repeat-x;
}

.simple-button {
    border: none;
    color: #fff;
    font: bold 11px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    overflow: visible;
    height: 29px;
    line-height: 29px;
}

.button-pod {
    margin-top: 1em;
    height: 10em;
}

.button2-position {
    position: relative;
    padding: .8em 1em .8em 1em;
    text-decoration: none;
    margin-left: 10em;
}

.search-button {
    position: relative;
    /*padding: .8em 1em .8em 1em;*/
    text-decoration: none;
    margin-left: 17em;
    top: -2em;
    /*top: 25em;*/
    /*left: 19em;*/
}

.button4-position {
    position: relative;
    padding: .75em 1.25em .75em 1.25em;
    text-decoration: none;
    /*top: 20px;*/
    top: 1em;
    margin-left: 10em;
}

.button5-position {
    position: relative;
    padding: .75em 1.25em .75em 1.25em;
    text-decoration: none;
    /*top: 30px;*/
    top: 2em;
    margin-left: 8.5em;
}

.dbox_title {
    text-transform: uppercase;
    text-align: center;
}

.input_box {
    margin-left: 350px;
    margin-top: 100px;
    padding: 2em;
    width: 300px;
    height: 200px;
    background-color: #EEEEEE;
    color: #15355a;
    font: bold 14px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding-bottom: 10px;
}

.input_box2 {
    margin-left: 350px;
    /*margin-top: 100px;*/
    padding: 2em;
    width: 300px;
    /*height: 250px;*/
    background-color: #EEEEEE;
    color: #15355a;
    font: bold 14px Arial, Helvetica, sans-serif;

    letter-spacing: 0.06em;
    padding-bottom: 2em;
}

#error_explanation {
    font: bold 14px Arial, Helvetica, sans-serif;
}

#login-btn-wrap {
    width: 64px;
    height: 30px;
    background-color: blue;
    color: #fff;
}

.center-logo {
    padding-left: 20em;
}

.small_title {
    margin-top: 2em;
    margin-bottom: 1.2em;
    font-style: italic;
    font-size: 10px;
    color: #BBBBBB;
}

.large_field {
    font: italic 10px HelveticaNeue, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
    margin-top: -0.75em;
    color: #DDDDDD;
}

.song-container {
    display: flex;
    justify-content: flex-start;
    background-color: #336699;

    max-width: 1100px;
}

.song-left_column {

    margin-top: 1em;
    width: 12em;
    min-height: 20em;
    font-family: HelveticaNeue, Helvetica, sans-serif;
    margin-left: 3em;
}

.header {
    height: 5em;

}

.song-right_column {
    min-width: 40em;
}

.pdf {
    flex: auto;
    min-width: 40em;
    height: 50em;
}